/*
0px - 700px:      Phone
700px - 900px:    Tablet portrait
900px - 1200px:   Tablet landscape
[1200px - 1800px] is where our normal styles apply
1800px + :      Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&family=Ubuntu:wght@400;500&display=swap");
@keyframes moveInLeftBannerHeadline {
  0% {
    opacity: 0;
    transform: translate(-50%, -100%); }
  100% {
    opacity: 1;
    transform: translate(-50%, -200%); } }
@keyframes moveInLeftBannerHeadlinePhone {
  0% {
    opacity: 0;
    transform: translate(-10%, -100%); }
  100% {
    opacity: 1;
    transform: translate(-10%, -200%); } }
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /* This defines 1rem
    -- Default browser value is 16px
    -- 62,5% of 16px = 10px
  */
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 43.75em) {
    html {
      font-size: 62.5%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

button {
  background: none;
  border: none; }

a {
  color: #535353; }
  a, a:link, a:visited {
    text-decoration: none; }

::selection {
  background-color: #eee; }

img {
  width: 100%;
  height: auto; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 500; }

::-moz-selection {
  /* Code for Firefox */
  color: #5f9ea0;
  background: #eee; }

::selection {
  color: #5f9ea0;
  background: #eee; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #535353;
  font-size: 1.4rem;
  line-height: 1.7;
  letter-spacing: 3px; }

.heading-primary {
  margin: 2rem 0; }

.heading-secondary {
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 300;
  margin-bottom: 2rem;
  transition: all .2s; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 4rem; } }
  @media only screen and (max-width: 43.75em) {
    .heading-secondary {
      font-size: 3rem;
      margin-bottom: 1rem; } }

.heading-tertiary {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: .5rem;
  color: #5f9ea0; }
  @media only screen and (max-width: 43.75em) {
    .heading-tertiary {
      font-size: 1.7rem; } }

.text-bold {
  font-weight: 400; }

.text-accent-bold {
  font-weight: 400;
  color: #0DBB68; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-small {
      margin-bottom: 1rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 2.5rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 3.5rem !important; } }

.u-margin-top-medium {
  margin-top: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-medium {
      margin-top: 2.5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-big {
      margin-top: 3.5rem !important; } }

.u-margin-top-huge {
  margin-top: 10rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-huge {
      margin-top: 6.5rem !important; } }

.container {
  width: 80%;
  margin: auto;
  position: relative; }
  @media only screen and (max-width: 43.75em) {
    .container {
      width: 90%; } }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  padding: 1rem 2rem 1rem 2rem;
  display: inline-block;
  border-radius: 0.7rem;
  transition: all .2s;
  position: relative;
  cursor: pointer;
  font-weight: 500; }
.btn:active, .btn:focus {
  outline: none; }
.btn:disabled, .btn:disabled:hover, .btn:disabled:active {
  background-color: #eee;
  color: #292929;
  cursor: not-allowed;
  outline: none; }
.btn--default {
  background-color: #eee; }
  .btn--default:hover {
    background-color: #d5d5d5; }
.btn--primary {
  color: #fff;
  background-color: #0DBB68; }
  .btn--primary:hover {
    background-color: #0a8b4d; }
.btn.xs {
  padding: .5rem .8rem;
  font-size: 1rem;
  border-radius: 0.3rem; }
.btn.sm {
  padding: .8rem 1.2rem;
  font-size: 1.3rem; }
.btn.lg {
  padding: 2.5rem 5rem; }

.banner {
  height: 80vh;
  overflow: hidden;
  position: relative; }
  @media only screen and (max-width: 43.75em) {
    .banner {
      height: 40vh; } }
  .banner__heading {
    opacity: 1;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-50%, -200%);
    animation: 1s ease-out 0s 1 moveInLeftBannerHeadline;
    color: #fff;
    z-index: 2; }
    @media only screen and (max-width: 43.75em) {
      .banner__heading {
        font-size: 2rem;
        transform: translate(-10%, -200%);
        animation: 1s ease-out 0s 1 moveInLeftBannerHeadlinePhone; } }
  .banner__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; }

.section {
  padding: 8rem 0; }

.card {
  padding: 2rem 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  transition: 0.5s; }
  .card__image {
    overflow: hidden; }
    .card__image img {
      width: 100%;
      height: 35rem;
      object-fit: cover;
      transition: 0.5s; }
      .card__image img:hover {
        cursor: pointer;
        transform: translateY(-0.9rem) scale(1.05); }
  .card__title {
    color: #0DBB68; }
  .card__text {
    font-size: 1.2rem; }
  .card:hover {
    color: #5f9ea0; }

.form-control {
  width: 60%;
  margin: auto;
  letter-spacing: 0; }
  @media only screen and (max-width: 43.75em) {
    .form-control {
      width: 100%; } }
  .form-control label {
    display: block;
    text-align: left;
    margin-bottom: .7rem; }
  .form-control input,
  .form-control select,
  .form-control textarea {
    font: inherit;
    padding: 0.8rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%; }
  .form-control input:focus,
  .form-control textarea:focus {
    outline: none;
    border-color: #42a6a6;
    background-color: #f3f8f2; }

.form-actions {
  padding-top: 2rem; }

.invalid input,
.invalid textarea {
  border: 1px solid #b40e0e;
  background-color: #fddddd; }

.invalid input:focus,
.invalid textarea:focus {
  border-color: #ff8800;
  background-color: #fbe8d2; }

.error-text {
  opacity: 0;
  color: #b40e0e;
  grid-column-start: 2;
  padding-top: 1rem;
  transition: 0.5s; }
  .error-text.visible {
    opacity: 1; }

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .gallery {
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (max-width: 34.375em) {
    .gallery {
      grid-template-columns: none; } }
  .gallery__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8); }
  .gallery__preview img {
    width: auto;
    height: auto;
    max-width: 90vw;
    max-height: 90vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .gallery__controls {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between; }

#close-btn {
  position: absolute;
  right: 2rem;
  top: 2rem; }

.navigation {
  grid-column: 2 / 3;
  padding-right: 1rem;
  display: grid;
  justify-content: end;
  z-index: 10; }
  @media only screen and (max-width: 43.75em) {
    .navigation {
      align-self: center; } }
  .navigation__button {
    display: none;
    border-radius: 0.3rem; }
    @media only screen and (max-width: 43.75em) {
      .navigation__button {
        display: block; } }
    .navigation__button.clicked .toggle:first-of-type {
      transform: rotate(45deg);
      position: relative;
      top: 5px; }
    .navigation__button.clicked .toggle:nth-of-type(2) {
      opacity: 0; }
    .navigation__button.clicked .toggle:last-of-type {
      transform: rotate(-45deg);
      position: relative;
      top: -5px; }
    .navigation__button .toggle {
      display: block;
      height: 2px;
      width: 1.5rem;
      background-color: rgba(238, 238, 238, 0.85);
      margin: 3px auto;
      transition: all 0.5s; }
  .navigation__list {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(6, min-content);
    text-decoration: none;
    transition: all 0.5s; }
    @media only screen and (max-width: 43.75em) {
      .navigation__list {
        position: fixed;
        top: 6rem;
        right: 0;
        transform: translateX(102%);
        grid-template-columns: none;
        grid-gap: 0;
        width: 65vw;
        background-color: #000; } }
    .navigation__list.open {
      transform: translateX(0); }
  .navigation__item {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    list-style: none;
    transition: 0.5s; }
  .navigation__link {
    display: inline-block;
    padding: .5rem 2rem;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #fff;
    border-radius: 0.3rem;
    letter-spacing: 3px;
    transition: 0.5s;
    cursor: pointer; }
    .navigation__link.active {
      background-color: transparent;
      color: #0DBB68; }
    .navigation__link:active, .navigation__link:focus {
      color: #0DBB68; }
    .navigation__link:hover {
      background-color: #0DBB68;
      color: #fff; }
    @media only screen and (max-width: 43.75em) {
      .navigation__link {
        font-size: inherit;
        padding: 1.5rem 0;
        background-color: #000;
        border-radius: 0; }
        .navigation__link.active {
          background-color: transparent;
          background-image: none; } }

.header {
  width: 100%;
  height: 6rem;
  z-index: 1000;
  display: grid;
  grid-template-columns: max-content 1fr;
  justify-content: end;
  align-items: center;
  border-bottom: 1px solid rgba(243, 248, 242, 0.5);
  background-color: #000; }
  .header__brand {
    margin-left: 3rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    background-color: #000;
    padding: 0 2rem;
    color: #fff; }

.footer {
  background-color: #000;
  color: #fff;
  padding: 3rem 0;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 7rem; }

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem; }
  @media only screen and (max-width: 34.375em) {
    .cards {
      grid-template-columns: none; } }

/*# sourceMappingURL=main.css.map */
